

<div id="sections">
    <section class="reverse">
        <div class="container">
            <div class="container-wrapper">
                <div class="row row16px articles">
                    <div class="col-md-4 col-sm-6 col mb2">
                        <div class="box mb2">
                            <div class="header">
                                <a href="/Sections?section=1" title="زیبایی">
                                    <img src="~/Template/img/article-1-bg.jpg" alt="زیبایی" class="img-responsive">
                                    <span>زیبایی</span>
                                </a>
                            </div>
                            <ul style="min-height: 150px">
                                <li>
                                    <a href="/Article/1072/%D9%86%DA%A9%D8%A7%D8%AA_%D9%85%D8%AB%D8%A8%D8%AA_%DA%A9%D8%A7%D8%B4%D8%AA_%D9%86%D8%A7%D8%AE%D9%86_%D8%A8%D8%A7_%D9%82%D9%84%D9%85" target="_blank" title="نکات مثبت کاشت ناخن با قلم">
                                        نکات مثبت کاشت ناخن با قلم
                                    </a>
                                </li>
                                <li>
                                    <a href="/Article/1071/%D8%B1%D9%86%DA%AF_%D8%B1%D9%88%DB%8C_%DA%A9%D8%A7%D8%AA%D8%A7%D9%84%D9%88%DA%AF_%DA%86%D9%82%D8%AF%D8%B1_%D9%88%D8%A7%D9%82%D8%B9%DB%8C_%D8%A7%D8%B3%D8%AA%D8%9F" target="_blank" title="رنگ روی کاتالوگ چقدر واقعی است؟">
                                        رنگ روی کاتالوگ چقدر واقعی است؟
                                    </a>
                                </li>
                                <li>
                                    <a href="/Article/998/%D8%AA%D9%85%D8%A7%D9%85_%D9%86%DA%A9%D8%A7%D8%AA%DB%8C_%DA%A9%D9%87_%D8%A8%D8%B1%D8%A7%DB%8C_%D8%AF%D8%A7%D8%B4%D8%AA%D9%86_%D9%BE%D9%88%D8%B3%D8%AA%DB%8C_%D8%B4%D8%A7%D8%AF%D8%A7%D8%A8_%D9%88_%D8%B3%D8%A7%D9%84%D9%85_%D8%A8%D8%A7%DB%8C%D8%AF_%D8%A8%D8%AF%D8%A7%D9%86%DB%8C%D8%AF" target="_blank" title="تمام نکاتی که برای داشتن پوستی شاداب و سالم باید بدانید">
                                        تمام نکاتی که برای داشتن پوستی شاداب ...
                                    </a>
                                </li>
                                <li>
                                    <a href="/Article/997/%D8%A7%DB%8C%D9%86_%DB%B2%DB%B0_%D9%87%D9%86%D8%B1%D9%85%D9%86%D8%AF_%D8%A8%D8%A7_%D8%B1%DB%8C%D8%B4_%D8%AE%D9%88%D8%B4_%D8%AA%DB%8C%D9%BE_%D8%AA%D8%B1_%D9%87%D8%B3%D8%AA%D9%86%D8%AF" target="_blank" title="این ۲۰ هنرمند با ریش خوش تیپ تر هستند">
                                        این ۲۰ هنرمند با ریش خوش تیپ تر هستند
                                    </a>
                                </li>
                                <li>
                                    <a href="/Article/996/%DA%86%DA%AF%D9%88%D9%86%D9%87_%D8%B3%DB%8C%D8%A7%D9%87%DB%8C_%D8%AF%D9%88%D8%B1_%DA%86%D8%B4%D9%85_%D8%B1%D8%A7_%D9%BE%D9%86%D9%87%D8%A7%D9%86_%DA%A9%D9%86%DB%8C%D9%85%D8%9F" target="_blank" title="چگونه سیاهی دور چشم را پنهان کنیم؟">
                                        چگونه سیاهی دور چشم را پنهان کنیم؟
                                    </a>
                                </li>
                            </ul>
                            <a href="/Sections?section=1" class="pull-left btn btn-primary" target="_blank">مشاهده آرشیو <i class="fa fa-chevron-left"></i></a>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col mb2">
                        <div class="box mb2">
                            <div class="header">
                                <a href="/Sections?section=1" title="زیبایی">
                                    <img src="~/Template/img/article-1-bg.jpg" alt="زیبایی" class="img-responsive">
                                    <span>زیبایی</span>
                                </a>
                            </div>
                            <ul style="min-height: 150px">
                                <li>
                                    <a href="/Article/1072/%D9%86%DA%A9%D8%A7%D8%AA_%D9%85%D8%AB%D8%A8%D8%AA_%DA%A9%D8%A7%D8%B4%D8%AA_%D9%86%D8%A7%D8%AE%D9%86_%D8%A8%D8%A7_%D9%82%D9%84%D9%85" target="_blank" title="نکات مثبت کاشت ناخن با قلم">
                                        نکات مثبت کاشت ناخن با قلم
                                    </a>
                                </li>
                                <li>
                                    <a href="/Article/1071/%D8%B1%D9%86%DA%AF_%D8%B1%D9%88%DB%8C_%DA%A9%D8%A7%D8%AA%D8%A7%D9%84%D9%88%DA%AF_%DA%86%D9%82%D8%AF%D8%B1_%D9%88%D8%A7%D9%82%D8%B9%DB%8C_%D8%A7%D8%B3%D8%AA%D8%9F" target="_blank" title="رنگ روی کاتالوگ چقدر واقعی است؟">
                                        رنگ روی کاتالوگ چقدر واقعی است؟
                                    </a>
                                </li>
                                <li>
                                    <a href="/Article/998/%D8%AA%D9%85%D8%A7%D9%85_%D9%86%DA%A9%D8%A7%D8%AA%DB%8C_%DA%A9%D9%87_%D8%A8%D8%B1%D8%A7%DB%8C_%D8%AF%D8%A7%D8%B4%D8%AA%D9%86_%D9%BE%D9%88%D8%B3%D8%AA%DB%8C_%D8%B4%D8%A7%D8%AF%D8%A7%D8%A8_%D9%88_%D8%B3%D8%A7%D9%84%D9%85_%D8%A8%D8%A7%DB%8C%D8%AF_%D8%A8%D8%AF%D8%A7%D9%86%DB%8C%D8%AF" target="_blank" title="تمام نکاتی که برای داشتن پوستی شاداب و سالم باید بدانید">
                                        تمام نکاتی که برای داشتن پوستی شاداب ...
                                    </a>
                                </li>
                                <li>
                                    <a href="/Article/997/%D8%A7%DB%8C%D9%86_%DB%B2%DB%B0_%D9%87%D9%86%D8%B1%D9%85%D9%86%D8%AF_%D8%A8%D8%A7_%D8%B1%DB%8C%D8%B4_%D8%AE%D9%88%D8%B4_%D8%AA%DB%8C%D9%BE_%D8%AA%D8%B1_%D9%87%D8%B3%D8%AA%D9%86%D8%AF" target="_blank" title="این ۲۰ هنرمند با ریش خوش تیپ تر هستند">
                                        این ۲۰ هنرمند با ریش خوش تیپ تر هستند
                                    </a>
                                </li>
                                <li>
                                    <a href="/Article/996/%DA%86%DA%AF%D9%88%D9%86%D9%87_%D8%B3%DB%8C%D8%A7%D9%87%DB%8C_%D8%AF%D9%88%D8%B1_%DA%86%D8%B4%D9%85_%D8%B1%D8%A7_%D9%BE%D9%86%D9%87%D8%A7%D9%86_%DA%A9%D9%86%DB%8C%D9%85%D8%9F" target="_blank" title="چگونه سیاهی دور چشم را پنهان کنیم؟">
                                        چگونه سیاهی دور چشم را پنهان کنیم؟
                                    </a>
                                </li>
                            </ul>
                            <a href="/Sections?section=1" class="pull-left btn btn-primary" target="_blank">مشاهده آرشیو <i class="fa fa-chevron-left"></i></a>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <section class="box-content relate">
        <div class="container">
            <div class="container-wrapper">
                <div class="row row16px">
                    <div class="col-md-12 col">
                        <h4 class="clearfix">
                            <i class="ii relate"></i> آخرین مقالات
                        </h4>
                        <div class="col-md-6 col-sm-6 col">
                            <div class="box mb2">
                                <div class="article-title" style="font-weight: bolder; padding-bottom: 3px"><a href="/Article/1088/%D9%86%DA%A9%D8%A7%D8%AA%DB%8C_%D9%85%D9%87%D9%85_%D8%A8%D8%B1%D8%A7%DB%8C_%D8%AE%D8%B1%DB%8C%D8%AF_%D9%BE%DB%8C%D8%B1%D8%A7%D9%87%D9%86_%D9%85%D8%A8%D9%84" style="text-decoration: none">نکاتی مهم برای خرید پیراهن مبل</a></div>
                                <article style="padding-bottom: 7px">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-3 cols">
                                            <img src="/Files/Pictures/%D9%85%D8%B4%D8%AA%D8%B1%DB%8C%20%D9%87%D8%A7/PIRAHAN%20.jpg" class="img-responsive img-thumbnail center-block">
                                        </div>
                                        <div class="col-md-8 col-sm-9 cols">
                                            <div class="text">
                                                <p><span style="font-family:tahoma"><span style="font-size:small">امروزه در اکثر منازل از انواع مبل و صندلی استفاده می&zwnj;شود و تنوع گوناگون رنگ و نوع آنها طیف وسیعی از انتخاب را برای متقاضیان ایجاد کرده است.</span></span></p>

                                            </div>
                                            <a href="/Article/1088/%D9%86%DA%A9%D8%A7%D8%AA%DB%8C_%D9%85%D9%87%D9%85_%D8%A8%D8%B1%D8%A7%DB%8C_%D8%AE%D8%B1%DB%8C%D8%AF_%D9%BE%DB%8C%D8%B1%D8%A7%D9%87%D9%86_%D9%85%D8%A8%D9%84" class="pull-left btn btn-primary" style="margin-top: 6px" target="_blank"> ادامه مطلب <i class="fa fa-chevron-left"></i></a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col">
                            <div class="box mb2">
                                <div class="article-title" style="font-weight: bolder; padding-bottom: 3px"><a href="/Article/1087/_%D9%BE%D8%B1%D9%88%D8%AA%D8%B2_%D8%B3%DB%8C%D9%86%D9%87%D8%8C_%D8%A8%D8%A7%D8%B2%DA%AF%D8%B4%D8%AA_%D8%A8%D9%87_%D8%A7%D8%AD%D8%B3%D8%A7%D8%B3_%D8%B1%D8%B6%D8%A7%DB%8C%D8%AA_%D8%A7%D8%B2_%D9%85%D8%A7%D9%87%DB%8C%D8%AA_%D8%B2%D9%86%D8%A7%D9%86%D9%87" style="text-decoration: none"> پروتز سینه، بازگشت به احساس رضایت از ماهیت زنانه</a></div>
                                <article style="padding-bottom: 7px">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-3 cols">
                                            <img src="/Files/Pictures/%D9%85%D8%B4%D8%AA%D8%B1%DB%8C%20%D9%87%D8%A7/Untitled-3.jpg" class="img-responsive img-thumbnail center-block">
                                        </div>
                                        <div class="col-md-8 col-sm-9 cols">
                                            <div class="text">
                                                <p>یکی از شایع ترین جراحی هایی که امروزه روی سینه انجام می شود، عمل جراحی پروتز سینه می باشد که هر ساله هزاران زن در سراسر دنیا این عمل جراحی را انجام داده</p>

                                            </div>
                                            <a href="/Article/1087/_%D9%BE%D8%B1%D9%88%D8%AA%D8%B2_%D8%B3%DB%8C%D9%86%D9%87%D8%8C_%D8%A8%D8%A7%D8%B2%DA%AF%D8%B4%D8%AA_%D8%A8%D9%87_%D8%A7%D8%AD%D8%B3%D8%A7%D8%B3_%D8%B1%D8%B6%D8%A7%DB%8C%D8%AA_%D8%A7%D8%B2_%D9%85%D8%A7%D9%87%DB%8C%D8%AA_%D8%B2%D9%86%D8%A7%D9%86%D9%87" class="pull-left btn btn-primary" style="margin-top: 6px" target="_blank"> ادامه مطلب <i class="fa fa-chevron-left"></i></a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col">
                            <div class="box mb2">
                                <div class="article-title" style="font-weight: bolder; padding-bottom: 3px"><a href="/Article/1086/%D8%A2%D8%A8%D8%AF%D9%88%D9%85%DB%8C%D9%86%D9%88%D9%BE%D9%84%D8%A7%D8%B3%D8%AA%DB%8C_%DA%86%DB%8C%D8%B3%D8%AA%D8%9F" style="text-decoration: none">آبدومینوپلاستی چیست؟</a></div>
                                <article style="padding-bottom: 7px">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-3 cols">
                                            <img src="/Files/Pictures/%D9%85%D8%B4%D8%AA%D8%B1%DB%8C%20%D9%87%D8%A7/12.jpg" class="img-responsive img-thumbnail center-block">
                                        </div>
                                        <div class="col-md-8 col-sm-9 cols">
                                            <div class="text">
                                                <p>یکی از قدرتمند ترین اعمال جراحی ترمیمی ( تغییر شکل دهنده ) آبدومینوپلاستی ( تامی تاک ) است که باعث می شود شکم را به ایده آل از دیدگاه زیبایی نزدیک کند</p>

                                            </div>
                                            <a href="/Article/1086/%D8%A2%D8%A8%D8%AF%D9%88%D9%85%DB%8C%D9%86%D9%88%D9%BE%D9%84%D8%A7%D8%B3%D8%AA%DB%8C_%DA%86%DB%8C%D8%B3%D8%AA%D8%9F" class="pull-left btn btn-primary" style="margin-top: 6px" target="_blank"> ادامه مطلب <i class="fa fa-chevron-left"></i></a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col">
                            <div class="box mb2">
                                <div class="article-title" style="font-weight: bolder; padding-bottom: 3px"><a href="/Article/1085/%D9%86%DA%A9%D8%A7%D8%AA%DB%8C_%D8%AF%D8%B1%D8%A8%D8%A7%D8%B1%D9%87_%D8%AE%D8%B1%DB%8C%D8%AF_%D9%BE%D8%A7%D8%B1%DA%86%D9%87_%D9%85%D8%A8%D9%84_" style="text-decoration: none">نکاتی درباره خرید پارچه مبل </a></div>
                                <article style="padding-bottom: 7px">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-3 cols">
                                            <img src="/Files/Pictures/%D9%85%D8%B4%D8%AA%D8%B1%DB%8C%20%D9%87%D8%A7/10.jpg" class="img-responsive img-thumbnail center-block">
                                        </div>
                                        <div class="col-md-8 col-sm-9 cols">
                                            <div class="text">
                                                <p><strong>مبل های راحتی</strong> معمولا تمام پارچه هستند و چوب و فلز در بدنه اصلی و رویه آن به کار نرفته است.<strong>مبل های استیل</strong> از آنجایی که رسمی تر و ترکیبی از چوب و پارچه هستند به ...</p>

                                            </div>
                                            <a href="/Article/1085/%D9%86%DA%A9%D8%A7%D8%AA%DB%8C_%D8%AF%D8%B1%D8%A8%D8%A7%D8%B1%D9%87_%D8%AE%D8%B1%DB%8C%D8%AF_%D9%BE%D8%A7%D8%B1%DA%86%D9%87_%D9%85%D8%A8%D9%84_" class="pull-left btn btn-primary" style="margin-top: 6px" target="_blank"> ادامه مطلب <i class="fa fa-chevron-left"></i></a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col">
                            <div class="box mb2">
                                <div class="article-title" style="font-weight: bolder; padding-bottom: 3px"><a href="/Article/1084/%D8%A8%D9%87%D8%AA%D8%B1%DB%8C%D9%86_%D8%B4%DB%8C%D9%88%D9%87_%D8%AF%D8%B1%D9%85%D8%A7%D9%86_%D9%BE%D9%88%D8%B3%DB%8C%D8%AF%DA%AF%DB%8C_%D8%AF%D9%86%D8%AF%D8%A7%D9%86_%DA%A9%D9%88%D8%AF%DA%A9%D8%A7%D9%86_" style="text-decoration: none">بهترین شیوه درمان پوسیدگی دندان کودکان </a></div>
                                <article style="padding-bottom: 7px">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-3 cols">
                                            <img src="/Files/Pictures/%D9%85%D8%B4%D8%AA%D8%B1%DB%8C%20%D9%87%D8%A7/Un%D8%B1titled-2.jpg" class="img-responsive img-thumbnail center-block">
                                        </div>
                                        <div class="col-md-8 col-sm-9 cols">
                                            <div class="text">
                                                <p>درباره ی دندان درد اطفال اشاره به این نکته ضروری است که دندانهای شیری، بر خلاف دندانهای دایمی خیلی زود به عصب میرسند</p>

                                            </div>
                                            <a href="/Article/1084/%D8%A8%D9%87%D8%AA%D8%B1%DB%8C%D9%86_%D8%B4%DB%8C%D9%88%D9%87_%D8%AF%D8%B1%D9%85%D8%A7%D9%86_%D9%BE%D9%88%D8%B3%DB%8C%D8%AF%DA%AF%DB%8C_%D8%AF%D9%86%D8%AF%D8%A7%D9%86_%DA%A9%D9%88%D8%AF%DA%A9%D8%A7%D9%86_" class="pull-left btn btn-primary" style="margin-top: 6px" target="_blank"> ادامه مطلب <i class="fa fa-chevron-left"></i></a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col">
                            <div class="box mb2">
                                <div class="article-title" style="font-weight: bolder; padding-bottom: 3px"><a href="/Article/1083/%D9%84%D8%B2%D9%88%D9%85_%D8%B1%D8%B9%D8%A7%DB%8C%D8%AA_%D8%A8%D9%87%D8%AF%D8%A7%D8%B4%D8%AA_%D8%AF%D9%87%D8%A7%D9%86_%D9%88_%D8%AF%D9%86%D8%AF%D8%A7%D9%86_%DA%A9%D9%88%D8%AF%DA%A9%D8%A7%D9%86" style="text-decoration: none">لزوم رعایت بهداشت دهان و دندان کودکان</a></div>
                                <article style="padding-bottom: 7px">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-3 cols">
                                            <img src="/Files/Pictures/%D9%85%D8%B4%D8%AA%D8%B1%DB%8C%20%D9%87%D8%A7/Untitled-2.jpg" class="img-responsive img-thumbnail center-block">
                                        </div>
                                        <div class="col-md-8 col-sm-9 cols">
                                            <div class="text">
                                                <p>واقعیت این است که یک بخش عمده در بهداشت کودکان و مراقبت از کودک، بهداشت دهان و دندان در کودکان است</p>

                                            </div>
                                            <a href="/Article/1083/%D9%84%D8%B2%D9%88%D9%85_%D8%B1%D8%B9%D8%A7%DB%8C%D8%AA_%D8%A8%D9%87%D8%AF%D8%A7%D8%B4%D8%AA_%D8%AF%D9%87%D8%A7%D9%86_%D9%88_%D8%AF%D9%86%D8%AF%D8%A7%D9%86_%DA%A9%D9%88%D8%AF%DA%A9%D8%A7%D9%86" class="pull-left btn btn-primary" style="margin-top: 6px" target="_blank"> ادامه مطلب <i class="fa fa-chevron-left"></i></a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

