USE [dbcheshmebazar]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CategoryChilds]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryChilds](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Parent_Id] [int] NULL,
 CONSTRAINT [PK_CategoryChilds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CategoryParents]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryParents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_CategoryParents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cities]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MsgCustomerToAdmins]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MsgCustomerToAdmins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Email] [nvarchar](150) NULL,
	[Txt] [nvarchar](1500) NULL,
	[Datee] [datetime] NULL,
 CONSTRAINT [PK_MsgCustomerToAdmins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MsgToStores]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MsgToStores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Family] [nvarchar](50) NULL,
	[EmailorPhoneNumber] [nvarchar](50) NULL,
	[Txt] [nvarchar](4000) NULL,
	[Store_Id] [int] NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PK_MsgToStores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Packages]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Packages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PackageMonth] [nvarchar](50) NULL,
	[PayAmount] [int] NULL,
 CONSTRAINT [PK_Packages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PCommentOKs]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCommentOKs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameAndFname] [nvarchar](50) NULL,
	[AdminConfirm] [bit] NULL,
	[Email] [nvarchar](150) NULL,
	[Date] [datetime] NULL,
	[Product_Id] [int] NULL,
	[Txt] [nvarchar](1000) NULL,
 CONSTRAINT [PK_PCommentOKs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Txt] [nvarchar](4000) NULL,
	[Logo] [varbinary](max) NULL,
	[Price] [int] NULL,
	[KeyWords] [nvarchar](500) NULL,
	[AdminConfirm] [bit] NULL,
	[Store_Id] [int] NULL,
	[Like] [int] NULL,
	[DiscountPesend] [int] NULL,
	[OfPrice] [decimal](19, 4) NULL,
	[StartDateDiscount] [datetime] NULL,
	[ExpiredDateDiscount] [datetime] NULL,
	[TotalVisitors] [int] NULL,
	[Create_Date] [datetime] NULL,
	[Edit_Date] [datetime] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PurchaseCarts]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseCarts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Store_Id] [int] NULL,
	[Package_Id] [int] NULL,
	[DateOfPay] [datetime] NULL,
	[IsPayed] [bit] NULL,
	[ExpiredDate] [datetime] NULL,
	[User_Id] [nvarchar](128) NULL,
	[Token] [nvarchar](100) NULL,
 CONSTRAINT [PK_PurchaseCarts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SComments]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SComments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Txt] [nvarchar](2000) NULL,
	[Store_Id] [int] NULL,
	[AdminConfirm] [bit] NULL,
	[NameAndFname] [nvarchar](100) NULL,
	[Email] [nvarchar](150) NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PK_SComments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SliderForProducts]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SliderForProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[product_Id] [int] NULL,
	[pic] [varbinary](max) NULL,
 CONSTRAINT [PK_SliderForProducts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SliderForStores]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SliderForStores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Store_Id] [int] NULL,
	[Pic] [varbinary](max) NULL,
 CONSTRAINT [PK_SliderForStores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Stores]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Stores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ManagmentName] [nvarchar](50) NULL,
	[Create_date] [datetime] NULL,
	[TotalVistor] [int] NULL,
	[Motto] [nvarchar](100) NULL,
	[Rate] [int] NULL,
	[KeyWords] [nvarchar](500) NULL,
	[Txt] [nvarchar](4000) NULL,
	[QrCode] [varbinary](max) NULL,
	[WebSite] [nvarchar](50) NULL,
	[PhoneOne] [nvarchar](12) NULL,
	[Province] [nvarchar](50) NULL,
	[PostalCode] [nvarchar](50) NULL,
	[Address] [nvarchar](2000) NULL,
	[City] [nvarchar](50) NULL,
	[AdminConfirm] [bit] NULL,
	[User_id] [nvarchar](128) NULL,
	[Like] [int] NULL,
	[Dislike] [int] NULL,
	[Logo] [varbinary](max) NULL,
	[Location] [nchar](10) NULL,
	[PhoneTwo] [nvarchar](12) NULL,
	[PhoneThree] [nvarchar](12) NULL,
	[VisitLink] [nvarchar](200) NULL,
	[Video] [nvarchar](500) NULL,
	[TelegramChannel] [nvarchar](100) NULL,
	[Facebook] [nvarchar](100) NULL,
	[GooglePlus] [nvarchar](100) NULL,
	[LikedIn] [nvarchar](100) NULL,
	[Instagram] [nvarchar](100) NULL,
	[Twitter] [nvarchar](100) NULL,
	[Mobile] [nvarchar](100) NULL,
	[ChildCategory_Id] [int] NULL,
	[ParentCategory_Id] [int] NULL,
	[DiscountPrice] [int] NULL,
	[DiscountPersend] [int] NULL,
	[StartDate] [nvarchar](50) NULL,
	[ExpiredDate] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[Whsup] [nvarchar](15) NULL,
	[EditDate] [datetime] NULL,
 CONSTRAINT [PK_Stores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WorkHours]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkHours](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ShiftOneStart0] [nvarchar](10) NULL,
	[shiftOneEnd0] [nvarchar](10) NULL,
	[ShiftTwoStart0] [nvarchar](10) NULL,
	[ShiftTwoEnd0] [nvarchar](10) NULL,
	[ShiftOneStart1] [nchar](10) NULL,
	[shiftOneEnd1] [nchar](10) NULL,
	[ShiftTwoStart1] [nchar](10) NULL,
	[ShiftTwoEnd1] [nchar](10) NULL,
	[ShiftOneStart2] [nchar](10) NULL,
	[shiftOneEnd2] [nchar](10) NULL,
	[ShiftTwoStart2] [nchar](10) NULL,
	[ShiftTwoEnd2] [nchar](10) NULL,
	[ShiftOneStart3] [nchar](10) NULL,
	[shiftOneEnd3] [nchar](10) NULL,
	[ShiftTwoStart3] [nchar](10) NULL,
	[ShiftTwoEnd3] [nchar](10) NULL,
	[ShiftOneStart4] [nchar](10) NULL,
	[shiftOneEnd4] [nchar](10) NULL,
	[ShiftTwoStart4] [nchar](10) NULL,
	[ShiftTwoEnd4] [nchar](10) NULL,
	[ShiftOneStart5] [nchar](10) NULL,
	[shiftOneEnd5] [nchar](10) NULL,
	[ShiftTwoStart5] [nchar](10) NULL,
	[ShiftTwoEnd5] [nchar](10) NULL,
	[ShiftOneStart6] [nchar](10) NULL,
	[shiftOneEnd6] [nchar](10) NULL,
	[ShiftTwoStart6] [nchar](10) NULL,
	[ShiftTwoEnd6] [nchar](10) NULL,
	[Store_Id] [int] NULL,
 CONSTRAINT [PK_WorkHours] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'4ec3639e-37c7-4a04-96cf-49f10752be0f', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'89c1f3cd-8d57-46ac-aee4-0a2688b0ee1f', N'demo')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'0cc9a051-4aec-43e1-bdcd-2dd9f22cb35a', N'Store')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'9b7443ee-ddc9-46f4-83ec-5691aae5c5d3', N'0cc9a051-4aec-43e1-bdcd-2dd9f22cb35a')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'e93cd34d-c704-456f-a098-972a65509575', N'4ec3639e-37c7-4a04-96cf-49f10752be0f')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'9b7443ee-ddc9-46f4-83ec-5691aae5c5d3', N'nimachapi1994@gmail.com', 1, N'APJ88VQ9J4YXO4R/n026PZAoiynODuFqc1JY5z7uIc2RhwrgRyoDD3/3FYqVwyNaYA==', N'121142dc-07e9-47b6-8a9a-df5314822f37', NULL, 0, 0, NULL, 1, 2, N'nimachapi1994@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'e93cd34d-c704-456f-a098-972a65509575', N'admin@admin.com', 1, N'AMZPFb73J7Py3oYLR2jOslGgmgK2gawsb/9fN4LcIYQy+RoQXcMgWIC3FQfdw5GmwA==', N'1e3406ea-9312-4b52-88a5-3c4f805fe2f4', N'09178134699', 0, 0, NULL, 1, 3, N'admin@admin.com')
SET IDENTITY_INSERT [dbo].[CategoryChilds] ON 

INSERT [dbo].[CategoryChilds] ([Id], [Name], [Parent_Id]) VALUES (1, N'شلوار', 1)
INSERT [dbo].[CategoryChilds] ([Id], [Name], [Parent_Id]) VALUES (2, N'کفش', 1)
INSERT [dbo].[CategoryChilds] ([Id], [Name], [Parent_Id]) VALUES (3, N'مغازه', 2)
SET IDENTITY_INSERT [dbo].[CategoryChilds] OFF
SET IDENTITY_INSERT [dbo].[CategoryParents] ON 

INSERT [dbo].[CategoryParents] ([Id], [Name]) VALUES (1, N'پوشاک')
INSERT [dbo].[CategoryParents] ([Id], [Name]) VALUES (2, N'املاک')
SET IDENTITY_INSERT [dbo].[CategoryParents] OFF
SET IDENTITY_INSERT [dbo].[SliderForStores] ON 

SET IDENTITY_INSERT [dbo].[SliderForStores] OFF
SET IDENTITY_INSERT [dbo].[Stores] ON 

SET IDENTITY_INSERT [dbo].[Stores] OFF
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CategoryChilds]  WITH CHECK ADD  CONSTRAINT [FK_CategoryChild_CategoryParent] FOREIGN KEY([Parent_Id])
REFERENCES [dbo].[CategoryParents] ([Id])
GO
ALTER TABLE [dbo].[CategoryChilds] CHECK CONSTRAINT [FK_CategoryChild_CategoryParent]
GO
ALTER TABLE [dbo].[MsgToStores]  WITH CHECK ADD  CONSTRAINT [FK_MsgToStores_Stores] FOREIGN KEY([Store_Id])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[MsgToStores] CHECK CONSTRAINT [FK_MsgToStores_Stores]
GO
ALTER TABLE [dbo].[PCommentOKs]  WITH CHECK ADD  CONSTRAINT [FK_PCommentOK_Products] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[PCommentOKs] CHECK CONSTRAINT [FK_PCommentOK_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Stores] FOREIGN KEY([Store_Id])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Stores]
GO
ALTER TABLE [dbo].[PurchaseCarts]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseCart_Stores] FOREIGN KEY([Store_Id])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[PurchaseCarts] CHECK CONSTRAINT [FK_PurchaseCart_Stores]
GO
ALTER TABLE [dbo].[SComments]  WITH CHECK ADD  CONSTRAINT [FK_SComments_Stores] FOREIGN KEY([Store_Id])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[SComments] CHECK CONSTRAINT [FK_SComments_Stores]
GO
ALTER TABLE [dbo].[SliderForProducts]  WITH CHECK ADD  CONSTRAINT [FK_SliderForProducts_Products] FOREIGN KEY([product_Id])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[SliderForProducts] CHECK CONSTRAINT [FK_SliderForProducts_Products]
GO
ALTER TABLE [dbo].[SliderForStores]  WITH CHECK ADD  CONSTRAINT [FK_SliderForStores_Stores] FOREIGN KEY([Store_Id])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[SliderForStores] CHECK CONSTRAINT [FK_SliderForStores_Stores]
GO
ALTER TABLE [dbo].[Stores]  WITH CHECK ADD  CONSTRAINT [FK_Stores_CategoryChild] FOREIGN KEY([ChildCategory_Id])
REFERENCES [dbo].[CategoryChilds] ([Id])
GO
ALTER TABLE [dbo].[Stores] CHECK CONSTRAINT [FK_Stores_CategoryChild]
GO
ALTER TABLE [dbo].[Stores]  WITH CHECK ADD  CONSTRAINT [FK_Stores_CategoryParent] FOREIGN KEY([ParentCategory_Id])
REFERENCES [dbo].[CategoryParents] ([Id])
GO
ALTER TABLE [dbo].[Stores] CHECK CONSTRAINT [FK_Stores_CategoryParent]
GO
ALTER TABLE [dbo].[WorkHours]  WITH CHECK ADD  CONSTRAINT [FK_WorkHours_Stores] FOREIGN KEY([Store_Id])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[WorkHours] CHECK CONSTRAINT [FK_WorkHours_Stores]
GO
/****** Object:  StoredProcedure [dbo].[DeleteChildCategory]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DeleteChildCategory] @id int
as
begin

 delete CategoryChild where Id=@id 

end



GO
/****** Object:  StoredProcedure [dbo].[DeleteParentCategory]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DeleteParentCategory] @id int
as
begin
delete from CategoryChild where Parent_Id=@id
delete from CategoryParent where Id=@id
end



GO
/****** Object:  StoredProcedure [dbo].[getcategorychild]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getcategorychild](@i int)
as
begin
select * from CategoryChild where Id=@i

end


GO
/****** Object:  StoredProcedure [dbo].[getCompateDataControlPanel]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getCompateDataControlPanel](@userid nvarchar(128))
as
 begin

  select * from Stores where User_id=@userid


 end


GO
/****** Object:  StoredProcedure [dbo].[ShowCompaleStore]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ShowCompaleStore](@userid nvarchar(128))
as
begin

select * from Stores where User_id=@userid
end


GO
/****** Object:  StoredProcedure [dbo].[ShowOneProduct]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ShowOneProduct](@id int)
as
begin
select * from Products where id=@id
end


GO
/****** Object:  StoredProcedure [dbo].[sm_ShowDicountStores]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sm_ShowDicountStores]
as
select * from Stores


GO
/****** Object:  StoredProcedure [dbo].[sp_AddProductPartFirst]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_AddProductPartFirst](@name nvarchar(50),@logo image)
as
begin

insert Products (Name,Logo)
values (@name,@logo)
end


GO
/****** Object:  StoredProcedure [dbo].[sp_AdminDeleteStore]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_AdminDeleteStore](@id int)
as
begin
 
 
delete Stores 
where Id=@id


end


GO
/****** Object:  StoredProcedure [dbo].[sp_AdminStoreConfirm]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_AdminStoreConfirm](@id int)
as
begin
 
 
update Stores set
AdminConfirm='true'
where Id=@id


end


GO
/****** Object:  StoredProcedure [dbo].[sp_DeletesliderImageStore]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_DeletesliderImageStore](@i int)
as
begin

delete SliderForStores where Id=@i

end


GO
/****** Object:  StoredProcedure [dbo].[Sp_DeleteStorePart7GetImages]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Sp_DeleteStorePart7GetImages](@img image , @store_id int)
as
begin

delete from SliderForStores where Store_Id =@store_id



end


GO
/****** Object:  StoredProcedure [dbo].[sp_getallimages]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_getallimages](@user_id nvarchar(128))
as

begin

 declare @i int=(select Id from Stores where User_id=@user_id)
 select * from SliderForStores where Store_Id=@i

end


GO
/****** Object:  StoredProcedure [dbo].[Sp_GetProductsComment]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Sp_GetProductsComment]
(@name nvarchar(100),@txt nvarchar(2000),@product_id int,@mail nvarchar(150),@AdminConfirm bit,@commentdate date)
as
begin
declare @idd int=(select Id from Products where Id=@product_id)
insert into PComments(NameAndFname,Email,Txt,AdminConfirm,Date,Product_Id)
values(@name,@mail,@txt,@AdminConfirm,@commentdate,@idd)

end


GO
/****** Object:  StoredProcedure [dbo].[Sp_InsertStorePart7GetImages]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Sp_InsertStorePart7GetImages](@img image , @store_id int)
as
begin


insert SliderForStores (Pic,Store_Id)
values (@img,@store_id)


end


GO
/****** Object:  StoredProcedure [dbo].[sp_ShowMsgCustomerToStore]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_ShowMsgCustomerToStore](@i int)
as
begin
select * from MsgToStores where Store_Id=@i

end


GO
/****** Object:  StoredProcedure [dbo].[sp_ShowStoreComments]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_ShowStoreComments](@i int)
as

begin

select * from SComments where Store_Id=Id

end


GO
/****** Object:  StoredProcedure [dbo].[sp_StoreUpdate keywords Part6]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  proc [dbo].[sp_StoreUpdate keywords Part6]



@keywords nvarchar(500) , @store_id int
as
update Stores
set

KeyWords=@keywords
where Id=@store_id



GO
/****** Object:  StoredProcedure [dbo].[sp_StoreUpdate phonenumber part4]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  proc [dbo].[sp_StoreUpdate phonenumber part4]
(@website nvarchar(50),
@phoneone nvarchar(12),@phonetwo nvarchar(12),
@phonethree nvarchar(12)
,
@mobile nvarchar(12),
@store_id int)
as
update Stores
set
WebSite=@website, PhoneOne=@phoneone, PhoneTwo=@phonetwo,
PhoneThree=@phonethree,

Mobile=@mobile
where Id=@store_id



GO
/****** Object:  StoredProcedure [dbo].[sp_StoreUpdate social Part5]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_StoreUpdate social Part5]
(@facebook nvarchar(50),@googlelplus nvarchar(50),
@linkedin nvarchar(50),@instagram nvarchar(50),
@twitter nvarchar(50),@telegramchannel nvarchar(50),
@whatsup nvarchar(50),
@storeid int)
as
update Stores set
 
Facebook=@facebook,
GooglePlus=@googlelplus,
LikedIn=@linkedin,
Instagram=@instagram,
Twitter=@twitter,
TelegramChannel=@telegramchannel
,Whsup=@whatsup




 where id=@storeid




GO
/****** Object:  StoredProcedure [dbo].[sp_StoreUpdatebaseinfo mottoandtext Part2]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_StoreUpdatebaseinfo mottoandtext Part2]
@txt nvarchar(4000),
@motto nvarchar(100),
@chilgategory_id int,@parentgategory_id int,


@storeid int
as
update Stores set

 Txt=@txt,
 Motto=@motto,


 ChildCategory_Id=@chilgategory_id,
 ParentCategory_Id=@parentgategory_id

 where id=@storeid




GO
/****** Object:  StoredProcedure [dbo].[sp_StoreUpdateComplatedata Cityproviance part3]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  proc [dbo].[sp_StoreUpdateComplatedata Cityproviance part3]


@province nvarchar(50),
@postalcode nvarchar(14),@Address nvarchar(1000),
@city nvarchar(50)
, @store_id int
as
update Stores
set

Province=@province,
PostalCode=@postalcode,Address=@Address,
City=@city
where Id=@store_id



GO
/****** Object:  StoredProcedure [dbo].[sp_StoreUpdateDiscount]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_StoreUpdateDiscount] (@startdate nvarchar(50),@enddate nvarchar(50),
@perdis int,@storeid int)
as
begin
update Stores 
set
StartDate=@startdate,
ExpiredDate=@enddate ,
DiscountPersend=@perdis where Id=@storeid
end


GO
/****** Object:  StoredProcedure [dbo].[sp_StoreUpdatePartGetVideoLinkString]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_StoreUpdatePartGetVideoLinkString](@videolink nvarchar(500),@store_Id int)
as
begin
update Stores set Video=@videolink 
where Id=@store_Id

end


GO
/****** Object:  StoredProcedure [dbo].[sp_StoreUpdatePartmakestorePart1]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_StoreUpdatePartmakestorePart1]
(@managmentname nvarchar(50),

@storename nvarchar(50),
@logo image,
@visitlink  nvarchar(50),
@storeid int)
as
update Stores set
 ManagmentName=@managmentname,


 logo=@logo,
 Create_date=GETDATE(),
 VisitLink=@visitlink


 where id=@storeid




GO
/****** Object:  StoredProcedure [dbo].[Sp_UpdateStorePart7GetImages]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Sp_UpdateStorePart7GetImages](@img image , @store_id int)
as
begin


Update SliderForStores set
Pic=@img where Store_Id=@store_id


end


GO
/****** Object:  StoredProcedure [dbo].[update123]    Script Date: 12/28/2017 6:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[update123](@id int,@name nvarchar(50))
as
begin

 update Products
 set
 Name=@name
 where Id=@id

end


GO
