﻿
@{
    ViewBag.Title = "GetDiscountForThisProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
  <div class="col-sm-3"></div>
    <div class="col-sm-5">
        <img width="300" height="200" src="~/Template/img/Proccess/progress.gif" />
    </div>
    <div class="col-sm-5"></div>
</div>

