
@{
    ViewBag.Title = "GetAllStoresByGategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />
<div class="row">
    
   
    <div class="col-sm-4"></div>
    <div class="col-sm-8">
        <a href="/store/GetallStoresByGategory" class="btn btn-info btn-sm">همه فروشگاه ها</a>
        <a href="/store/GetspecialStoresByGategory" class="btn btn-default btn-sm">فرشگاه های ویژه</a>
        <a href="/store/GetlikedStoresByGategory" class="btn btn-info btn-sm">محبوب ترین ها</a>
        <a href="/store/GetdiscountStoresByGategory" class="btn btn-info btn-sm">تخفیف دار ها</a>
    </div>

</div>
<br />

<div id="sections">
    <section class="box-list">
        <div class="container">
            <div class="container-wrapper">

                <div class="row row16px sw-wrapper">


                    <div class="col col-lg-2 col-md-3 col-sm-4 col-xs-6 sw-slide">
                        <div class="box">
                            <a class="ad-box" href="" title="StoreName" target="_blank">
                                <div class="img">
                                    <img src="" alt="StoreName" class="placeholder img-responsive">
                                </div>

                                <h4 class="title">سالن زیبایی سروینه</h4>
                                <span class="discount discount1" title="10 % تخفیف روی کل فروشگاه">10 %</span>

                            </a>

                            <a class="ad-region" href=""><img src="~/Icons/location-pointer.png" title="موقعیت : دولت" style="width:12px;height:15px" /><span>دولت</span></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>



</div>
