﻿<style>
    .img2{
        width:120px;

        height:130px;
    }
</style>


<div id="sections">


    @foreach (var item in ViewBag.showstore as IEnumerable<CheshmebazarIrMyProject.Models.Store>)
    {
       
        <section class="reverse no-padding">

            <div class="container">
                <div class="container-wrapper">
                    <div class="@*list-section*@ list-section2">

                        <div class="more-wrapper">
                            <div class="title">
                                <h1 class="a_title">
                                    @if (item.Logo != null)
                                    {
                                        <img src="@($"data:image/jpeg;base64,{Convert.ToBase64String(item.Logo)}")" width="70" height="50" />
                                    }
                                    else
                                    {
                                        <img src="~/Template/img/logo/glasses.png" width="70" height="50" />
                                    }
                                    <d title="@item.Name">@item.Name</d>
                                    @if (item.DiscountPersend != null)
                                    {
                                        <label style="color:darkcyan;font-size:small"> این مرکز دارای @item.DiscountPersend درصد تخفیف کلی است</label>
                                    }
                                </h1>
                                @if (item.DiscountPersend != null && item.StartDate != null && item.ExpiredDate != null)
                                {
                                    <div class="coupon">
                                        <a class="tearing countable" data-type="coupon" target="_blank" href="/store/GetDiscountForThisStore" title="دریافت کوپن تخفیف">دریافت کوپن تخفیف</a>
                                        <div class="static">
                                            <div style="font-size:1.4em">@item.DiscountPersend٪</div>
                                            <div>تخفیف</div>
                                        </div>
                                    </div>
                                }

                                <a class="fav inactive" href="/Advertisement/Ads/ToggleFav/60655">

                                </a>
                            </div>
                            <div class="bbb">
                                @if (item.Motto != null)
                                {
                                    <div class="row">
                                        <div class="col-md-12 contact-description">
                                            <i style="color:orangered">|||</i>  <label class="control-label" style="color:green;font-size:larger;padding-left:2%;padding-right:0%" title="شعار فروشگاه">@item.Motto</label><i style="color:orangered">|||</i>
                                        </div>
                                    </div>
                                }
                                <button hidden="hidden"id="btnid"value="@item.Id"></button>
                                <div class="row">
                                    <div class="col col-sm-4 col-md-4">
                                        <br />
                                        <br />


                                        @if (item.PhoneOne != null)
                                        {
                                            <img src="~/Icons/telephone-of-old-design.png" style="width:30px;height:30px;padding-bottom:3%" /> <label style="font-size:small">@item.PhoneOne</label>
                                        }
                                        else
                                        {

                                            <img src="~/Icons/telephone-of-old-design.png" hidden="hidden" style="width:30px;height:30px;padding-bottom:3%" /> <label hidden="hidden" style="font-size:small"></label>

                                        }
                                        @if (item.PhoneTwo != null)
                                        {
                                            <br />

                                            <img src="~/Icons/telephone-of-old-design.png" style="width:30px;height:30px;padding-bottom:3%" /> <label style="font-size:medium">@item.PhoneTwo</label>
                                        }
                                        else
                                        {
                                            <img src="~/Icons/telephone-of-old-design.png" style="width:30px;height:30px;padding-bottom:3%" hidden="hidden" /> <label hidden="hidden" style="font-size:medium"></label>
                                        }
                                        @if (item.PhoneThree != null)
                                        {
                                            <br />
                                            <img src="~/Icons/telephone-of-old-design.png" style="width:30px;height:30px;padding-bottom:3%" /> <label style="font-size:medium">@item.PhoneThree</label>

                                        }
                                        else
                                        {
                                            <img src="~/Icons/telephone-of-old-design.png" style="width:30px;height:30px;padding-bottom:3%" hidden="hidden" /> <label hidden="hidden" style="font-size:medium"></label>

                                        }
                                        <br />
                                        @if (item.Mobile != null)
                                        {

                                            <img src="~/Icons/smartphone-call.png" style="width:30px;height:30px;padding-bottom:3%" /> <label style="font-size:medium">@item.Mobile</label>
                                        }
                                        else
                                        {
                                            <img src="~/Icons/smartphone-call.png" style="width:30px;height:30px;padding-bottom:3%" hidden="hidden" /> <label style="font-size:medium" hidden="hidden"></label>

                                        }
                                        <br />
                                        @if (item.Whsup != null)
                                        {

                                            <img src="~/Icons/whatsapp-32.png" style="width:30px;height:30px;padding-bottom:3%" /> <label style="font-size:medium">@item.Whsup</label>
                                        }
                                        else
                                        {
                                            <img src="~/Icons/whatsapp-32.png" style="width:30px;height:30px;padding-bottom:3%" hidden="hidden" /> <label style="font-size:medium" hidden="hidden"></label>

                                        }


                                        <br /><br />
                                        @if (item.City != null)
                                        {

                                            <img src="~/Icons/location-pointer.png" style="width:10px;height:20px;padding-bottom:3%" />  <label>@item.City</label><br />
                                        }
                                        else
                                        {
                                            <img src="~/Icons/location-pointer.png" style="width:10px;height:20px;padding-bottom:3%" hidden="hidden" />  <label hidden="hidden">@item.City</label><br />

                                        }
                                        @if (item.Address != null)
                                        {

                                            <b>آدرس : </b> <p>@item.Address</p><br />
                                        }
                                        else
                                        {
                                            <b hidden="hidden">آدرس : </b> <p hidden="hidden"></p><br />
                                        }


                                        @if (item.TotalVistor != null)
                                        {
                                            <label style="padding-right:5%"><b>@item.TotalVistor.Value </b> </label> <label>بازید</label>
                                        }
                                        else
                                        {
                                            <label style="padding-right:5%"><b>1 </b> </label> <label>بازید</label>

                                        }

                                    </div>
                                    <div class="col col-sm-3 col-md-3 pull-right">


                                        <br />
                                        <br />


                                        @if (item.TelegramChannel != null)
                                        {
                                            <img src="~/Icons/if_telegram_1419139.png" style="width:30px;height:30px;padding-bottom:3%" />  <a href="@item.TelegramChannel"></a><br />
                                        }
                                        else
                                        {
                                            <img src="~/Icons/if_telegram_1419139.png" style="width:30px;height:30px;padding-bottom:3%" hidden="hidden" />  <a hidden="hidden"></a><br />
                                        }
                                        @if (item.Instagram != null)
                                        {
                                            <img src="~/Icons/instagram.png" style="width:30px;height:30px;padding-bottom:3%" />  <a href="@item.Instagram">اینستاگرام</a><br />

                                        }
                                        else
                                        {
                                            <img src="~/Icons/instagram.png" style="width:30px;height:30px;padding-bottom:3%" hidden="hidden" />  <a href="@item.Instagram" hidden="hidden"></a><br />

                                        }
                                        @if (item.Facebook != null)
                                        {
                                            <img src="~/Icons/facebook.png" style="width:30px;height:30px;padding-bottom:3%" />  <a href="@item.Facebook">فیس بوک</a><br />

                                        }
                                        else
                                        {
                                            <img hidden="hidden" src="~/Icons/facebook.png" style="width:30px;height:30px;padding-bottom:3%" />  <a hidden="hidden" href="@item.Facebook"></a><br />

                                        }
                                        @if (item.LikedIn != null)
                                        {
                                            <img src="~/Icons/linkedin.png" style="width:30px;height:30px;padding-bottom:3%" />  <a href="@item.LikedIn">لینکدین</a><br />

                                        }
                                        else
                                        {
                                            <img src="~/Icons/linkedin.png" style="width:30px;height:30px;padding-bottom:3%" hidden="hidden" />  <a href="@item.LikedIn" hidden="hidden"></a><br />
                                        }
                                        @if (item.Twitter != null)
                                        {
                                            <img src="~/Icons/twitter.png" style="width:30px;height:30px;padding-bottom:3%" />  <a href="@item.Twitter">توییتر</a><br />

                                        }
                                        else
                                        {
                                            <img src="~/Icons/twitter.png" style="width:30px;height:30px;padding-bottom:3%" hidden="hidden" />  <a href="@item.Twitter" hidden="hidden"></a><br />
                                        }
                                        @if (item.GooglePlus != null)
                                        {
                                            <img src="~/Icons/google-plus.png" style="width:30px;height:30px;padding-bottom:3%" />  <a href="@item.GooglePlus">گوگل پلاس</a><br />

                                        }
                                        else
                                        {
                                            <img src="~/Icons/google-plus.png" style="width:30px;height:30px;padding-bottom:3%" hidden="hidden" />  <a href="@item.GooglePlus" hidden="hidden"></a><br />
                                        }
                                        @if (item.WebSite != null)
                                        {
                                            <img src="~/Icons/worldwide.png" style="width:30px;height:30px;padding-bottom:3%" />  <a href="@item.WebSite">مشاهده وبسایت</a>

                                        }
                                        else
                                        {
                                            <img src="~/Icons/worldwide.png" style="width:30px;height:30px;padding-bottom:3%" hidden="hidden" />  <a hidden="hidden" href="@item.WebSite"></a>
                                        }
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        @if (item.Products.Where(x => x.Store_Id == item.Id) != null)
                                        {
                                            var d = item.Products.Where(x => x.Store_Id == item.Id).Count();
                                            <label>تعداد محصول : @d</label><br />
                                        }
                                        else
                                        {
                                            <label>تعداد محصول : 0</label><br />
                                        }
                                        <a href="#DivThisProviderProducts" class="btn btn-success btn-xs">مشاهده محصولات یا خدمات این مرکز</a>
                                        <br />

                                    </div>
                                    <div class="col col-sm-5 col-md-5 pull-left">



                                        <div class="pull-left">
                                            <img src="~/Template/img/article-1-bg.jpg" style="width:250px;height:300px;caption-side:bottom" />
                                            @*<label class="control-label" style="color:green;font-size:larger">Google Map</label>*@

                                        </div>
                                    </div>

                                </div>

                            </div>

                            @if (item.SliderForStores.Where(x => x.Store_Id == item.Id) != null)
                            {
                                <div class="bbb slider">
                                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                                        <ol class="carousel-indicators">
                                            @{ string active = "active";}
                                            @for (int i = 0; i < item.SliderForStores.Where(x => x.Store_Id == item.Id).Count(); i++)
                                            {
                                                <li data-target="carousel-example-generic" data-slide-to="@i" class="@active"></li>
                                                active = "";
                                            }

                                        </ol>
                                        <div class="carousel-inner" role="listbox">
                                            @{
                                                active = "active";
                                            }
                                            @foreach (var item1 in item.SliderForStores.Where(x => x.Store_Id == item.Id).ToList())
                                            {
                                                <div class="item @active">
                                                    <img src="@($"data:image/jpeg;base64,{Convert.ToBase64String(item1.Pic)}")" title="@item.Name">
                                                </div>
                                                active = "";
                                            }



                                        </div>
                                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="next">

                                            <span aria-hidden="true"><img src="~/Icons/left-chevron.png" style="width:40px;height:20px" /></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">

                                            <span aria-hidden="true"><img src="~/Icons/right-chevron.png" style="width:40px;height:20px;padding-top:4%" class="text-center" /></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                                                }
                          @*@if (item.Video != null)
                          {
                            <div class="bbb slider">
                                <video src="@item.Video" width="500" height="350" loop="loop" controls="controls"></video>
                            </div>
                          }*@

                        </div>
                    </div>
                </div>

        </section>
        <section class="no-padding">
            <div class="container">
                <div class="container-wrapper">
                    <div class="description">
                        <div class="body bbb">
                            @if (item.Txt != null)
                            {
                                <p>@item.Txt</p>
                            }
                        </div>


                        <hr class="ad-hr">

                    </div>
                </div>
            </div>
        </section>
                                            }
 
    <div class="container">

        <div class="row">
            <div class="col-sm-3"></div>



          
            <div class="col-sm-2 pull-left">
                <button class="btn btn-lg btn-info" id="btnShowDivWorkClocks">ساعات کاری</button>

            </div>
            <div class="col-sm-2 pull-left">
                <button class="btn btn-lg btn-info" id="btnShowDivCutomerOpinions">نظرات مشتریان</button>

            </div>
            <div class="col-sm-2 pull-left">
                <button class="btn btn-lg btn-info" id="btnShowDivProviderContact">فرم تماس با فروشگاه</button>
            </div>
            <div class="col-sm-3">

               
                <button class="btn btn-lg btn-default" id="btnShowDivThisProviderProducts">مشاهده محصولات وخدمات این فروشگاه</button>

            </div>
        </div>

        @*------------------------------------------------------------------------------------*@
        @*Show Up Row*@

        <div class="row">
            @*<div class="col-sm-0"></div>*@



            <div @*class="col-sm-5 pull-left col-md-10"*@ style="margin:auto">
               
                <br />
                <br />
                    @using CheshmebazarIrMyProject.Models
                    <table border="1" id="divWorkClock"style="font-size:medium;margin:auto;padding-left:4%"width="650" height="230">
                        @foreach (var item in ViewBag.ShowWorkHours as IEnumerable<WorkHour>)
                        {

                            <tr>
                                <th style="padding-right:1%">روز</th>
                                <th style="padding-right:1%">شیفت صبح از ساعت</th>
                                <th style="padding-right:1%"> تا ساعت</th>
                                <th style="padding-right:1%">شیفت عصر از ساعت</th>
                                <th style="padding-right:1%"> تا ساعت</th>
                            </tr>
                        
                            <tr>
                                <td style="padding-right:1%">شنبه</td>
                                <td style="padding-right:1%">@item.ShiftOneStart0</td>
                                <td style="padding-right:1%">@item.shiftOneEnd0</td>
                         
                                <td style="padding-right:1%">@item.ShiftTwoStart0</td>
                                <td style="padding-right:1%">@item.ShiftTwoEnd0</td>

                            </tr>
                          
                            <tr>
                                <td style="padding-right:1%">یکشنبه</td>
                                <td style="padding-right:1%">@item.ShiftOneStart1</td>
                                <td style="padding-right:1%">@item.shiftOneEnd1</td>

                                <td style="padding-right:1%">@item.ShiftTwoStart1</td>
                                <td style="padding-right:1%">@item.ShiftTwoEnd1</td>
                            </tr>
                           
                            <tr>
                                <td style="padding-right:1%">دوشنبه</td>
                                <td style="padding-right:1%">@item.ShiftOneStart2</td>
                                <td style="padding-right:1%">@item.shiftOneEnd2</td>

                                <td style="padding-right:1%">@item.ShiftTwoStart2</td>
                                <td style="padding-right:1%">@item.ShiftTwoEnd2</td>
                            </tr>
                           
                            <tr>
                                <td style="padding-right:1%">سه شنبه</td>
                                <td style="padding-right:1%">@item.ShiftOneStart3</td>
                                <td style="padding-right:1%">@item.shiftOneEnd3</td>

                                <td style="padding-right:1%">@item.ShiftTwoStart3</td>
                                <td style="padding-right:1%">@item.ShiftTwoEnd3</td>
                            </tr>
                           
                            <tr>
                                <td style="padding-right:1%">چهارشنبه</td>
                                <td style="padding-right:1%">@item.ShiftOneStart4</td>
                                <td style="padding-right:1%">@item.shiftOneEnd4</td>

                                <td style="padding-right:1%">@item.ShiftTwoStart4</td>
                                <td style="padding-right:1%">@item.ShiftTwoEnd4</td>
                            </tr>
                          
                            <tr>
                                <td style="padding-right:1%">پنجشنبه</td>
                                <td style="padding-right:1%">@item.ShiftOneStart5</td>
                                <td style="padding-right:1%">@item.shiftOneEnd5</td>

                                <td style="padding-right:1%">@item.ShiftTwoStart5</td>
                                <td style="padding-right:1%">@item.ShiftTwoEnd5</td>
                            </tr>
                           
                            <tr>
                                <td style="padding-right:1%">جمعه</td>
                                <td style="padding-right:1%">@item.ShiftOneStart6</td>
                                <td style="padding-right:1%">@item.shiftOneEnd6</td>

                                <td style="padding-right:1%">@item.ShiftTwoStart6</td>
                                <td style="padding-right:1%">@item.ShiftTwoEnd6</td>
                            </tr>




                        }
                    </table>
            
                <div id="divContactFormToProvider">
                    <section class="box-list">
                        <div class="container">
                            <div class="container-wrapper">
                                <div class="row row16px sw-wrapper">
                                    <div class="alert-success" id="divalertmsg"></div>
                                    <br />
                                    <br />
                                    <input name="name" placeholder="نام" id="txtname" /> <input name="family" placeholder="نام خانوادگی" id="txtfamily" /><br /><br />
                                    <input name="email" id="txtemailorphone" placeholder="شماره تماس یاایمیل" /><br /><br />
                                    <br /><br />
                                    <textarea name="txt" id="txt1" placeholder="متن" class="btn-block"></textarea>
                                    <br />
                                    <button class="btn btn-success btn-sm" id="btnSendMsgtoStore">ارسال</button>
                                </div>
                            </div>
                        </div>
                    </section>

                   
                </div>
                <div id="divCustomerOpinions">
                    @Html.Partial("~/Views/partials/commenthtmlcodestore.cshtml")
                    <br />

                </div>



                <div id="DivThisProviderProducts">
                    <section class="box-list">
                        <div class="container">
                            <div class="container-wrapper">
                                <div class="row row16px sw-wrapper">
                                    @foreach (var item in ViewBag.showProducts as IEnumerable<CheshmebazarIrMyProject.Models.Product>)
                                    {                                        
                                        <div class="col col-lg-2 col-md-3 col-sm-4 col-xs-6 sw-slide" style="height:100%">
                                            <div class="box">
                                                <a class="ad-box" title="@item.Name" href="/Store/Product?id=@(item.Id)" target="_blank">
                                                    <h4 class="title">@item.Name</h4>

                                                    @if (item.Logo != null)
                                                    {

                                                            <img src="@($"data:image/jpeg;base64,{Convert.ToBase64String(item.Logo)}")"  alt="@item.Name" class="img img-responsive img-rounded img-thumbnail img2">
                                                    }
                                                    @if (item.DiscountPesend != null && item.ExpiredDateDiscount != null && item.StartDateDiscount != null)
                                                    {
                                                        <div class="success" title="@item.DiscountPesend % تخفیف "><img src="~/Icons/discount.png" style="width:20px;height:20px" /> <i>@item.DiscountPesend %</i> </div>                                                
                                                    }
                                                </a>
                                            </div>
                                        </div>                                    
                                    }
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </div>
            @*<div class="col-sm-1">




            </div>*@
        </div>

    </div>
</div>





<br /><hr />


<body id="bd">
</body>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
        $(function () {
            $(carousel-example-generic).carousel({ interval: 1000 })
        })
</script>
<script>
  
    $(btnSendMsgtoStore).click(function () {
       
        jQuery.post('/store/GetMessageSinceCustomersToStore', {
            name: $(txtname).val(),
            family: $(txtfamily).val(), txt: $(txt1).val()
        }, function (data) {
            if (data=='ok') {
               
                $(divalertmsg).html('پیام شما با موفقیت برای فروشگاه ارسال گردید')
            }
        })
    })
</script>
<script>
    $(bd).html(function () {
        $(divWorkClock).hide();
        $(divContactFormToProvider).hide();
        $(divCustomerOpinions).hide();
        $(DivThisProviderProducts).hide()
    })
    $(btnShowDivWorkClocks).click(function () {
        $(divWorkClock).show();
        $(divContactFormToProvider).hide();
        $(divCustomerOpinions).hide();
        $(DivThisProviderProducts).hide()
    })
    $(btnShowDivThisProviderProducts).click(function () {
        $(divWorkClock).hide();
        $(divContactFormToProvider).hide();
        $(divCustomerOpinions).hide();
        $(DivThisProviderProducts).show();
    })
    $(btnShowDivCutomerOpinions).click(function () {
        $(divWorkClock).hide();
        $(divContactFormToProvider).hide();
        $(divCustomerOpinions).show();
        $(DivThisProviderProducts).hide()
    })
    $(btnShowDivProviderContact).click(function () {
        $(divWorkClock).hide();
        $(divContactFormToProvider).show();
        $(divCustomerOpinions).hide();
        $(DivThisProviderProducts).hide()
    })
</script>
@foreach (var item in ViewBag.showkeywords as IEnumerable<CheshmebazarIrMyProject.Models.Store>)
{
    if (item.KeyWords != null)
    {
        var d = item.KeyWords.Split(',');
        <div hidden="hidden">
            @foreach (var item1 in d.ToList())
            {
                <p hidden="hidden">
                    <i hidden="hidden" class="glyphicon glyphicon-tag iiii"></i>
                    <a href="/store/storeview?id=@(item.Id)"hidden="hidden" class="ad-tag" target="_blank"><h2>@item1</h2></a>


                </p>


            }
        </div>
    }
}
  
