
@{
    ViewBag.Title = "ContactCustomerToAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-4">

        <form action="/home/SendMsgToAdmin" method="post">
            <div >
                <h3>ارسال پیام</h3>
                <br />
                <div class="alert-success">@TempData["msgoksendtoadmin"]</div>
                <br />
             
                    <div class="form-group">

                    <label class="control-label" for="txtNameAndFname">نام و نام خانودگی </label>
                    <input name="name" id="txtNameAndFname" class="form-control" placeholder="مثال : حسن حسنی" />
                    </div>
                    <div class="form-group">

                    <label class="control-label" for="txtemail">ایمیل </label>
                    <input name="email" class="form-control" id="txtEmail" placeholder="Example :        Jack@gmail.com" />
                    </div>
                    
                <div class="form-group">
                    <label class="control-label" for="Txt">متن پیام </label>
                    
                    <textarea name="txt" placeholder="......." class="form-control"></textarea>
                    <br />
                </div>
                <button class="btn btn-primary btn-block btn-md" id="btnsend">ارسال پیام</button>
                
            </div>
        </form>
    </div>
    <div class="col-sm-3">
        <img src="~/Template/img/Location/2_003.jpg" width="300" height="300"/>
     
     
        <hr />
     
        <div dir="rtl" style="padding-right:10%">
            <label>آدرس : خیابان فلا کوچه فلان پلاک فلان</label><br />
            <label>شماره تماس : 07132324533</label><br />
            <label>شماره همراه : 09178134699</label><br />
            <label>ایمیل : 09178134699</label>
        </div>
        <br />
    </div>
    <div class="col-sm-2"></div>
</div>

@for (int i = 0; i < 2; i++)
{
    <br />
}
<script>
    btnsend.onclick = function () {
        this.textContent='در حال ارسال ...'
    }
</script>