﻿<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="7FRoic+OMF52nWLJe9QHH5bZ44jS9JZ5jPjFA7IkjN8=" name="verify-v1">
    <meta name="theme-color" content="#1287ad">
    <meta name="msapplication-navbutton-color" content="#1287ad">
    <meta name="apple-mobile-web-app-status-bar-style" content="#1287ad">
    <title>برترین‌های مشاغل ایران</title>

    @*@using CheshmebazarIrMyProject.Models*@
    @using IdentitySample.Models
    @using Microsoft.AspNet.Identity;
    @using Microsoft.AspNet.Identity.EntityFramework;
    @using Microsoft.AspNet.Identity.Owin;
    <script>

    </script>


    <link href="~/Template/css/default.css" rel="stylesheet" />
    <link href="~/Template/css/bartarinha_font.css" rel="stylesheet" />
    <link href="~/Template/css/carousel.css" rel="stylesheet" />




    <script src="~/Template/js/inspectlet.js"></script>
    <script src="~/Template/js/atrk.js"></script>
    <script src="~/Template/js/analytics.js"></script>
    <script src="~/Template/js/jquery-2.js"></script>


    <!--<script src='https://www.google.com/recaptcha/api.
        js?hl=fa'></script>!-->
    <script type="text/javascript">
        if (self != top) top.location.href = location.href;
    </script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->





    <style>
        .media (min-width: 768px ) and ( max-width: 991px) {
            .articles:last-child;

        {
            height: 0 !important;
            padding: 0 !important;
            width: 0 !important;
        }

        }

        .media ( max-width: 767px) {
            .articles ul;

        {
            height: 0 !important;
            padding: 0 !important;
        }

        }
    </style>

</head>
<body id="bd">
    <a href="#" class="back-to-top"><i class="fa fa-fw fa-2x fa-chevron-up"></i></a>
    <div style="display: none;" class="loading-layout">
        <div class="bartar-logo"> </div>
        <div class="loading-indicator">
            <div class="load-bar">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
    </div>
    <header>
        <div class="container">
            <div class="clearfix">
                <div class="logo">
                    <a href="http://www.cheshmebazar.ir/">

                        <img src="~/Template/img/glasses.png" height="70" />
                        بزرگترین بانک معرفی مشاغل ایران
                    </a>

                </div>
            </div>
        </div>
    </header>
    <nav class="navbar navbar-static-top navbar-default navbar-absolute yamm affix-top" data-spy="affix" data-offset-top="75">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="sidebar" class="navbar-brand visible-xs visible-sm" href="javascript:;"><i class="fa fa-chevron-left if"></i> گروه کالا و خدمات</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" style="font-weight: 600; overflow-y: initial; max-height: initial;">
                    <li><a href="/home/index"><i><img src="~/Icons/Home.jpg" style="width:20px;height:20px" /></i> صفحه نخست </a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i><img src="~/Icons/Category.jpg" style="width:20px;height:20px" /></i> شیراز</a>
                        <ul class="dropdown-menu">

                            <li><a href="">شیراز</a></li>

                        </ul>
                    </li>
                    <li><a href="/store/discountstores"><i><img src="~/Icons/discount.png" style="width:20px;height:20px" /> </i> تخفیف ها</a></li>
                    <li><a href="/store/newstores"><i><img src="~/Icons/new.png" style="width:20px;height:20px" /> </i> جدید ترین ها</a></li>
                    <li><a href="/store/likedstores"><i><img src="~/Icons/Like.jpg" style="width:20px;height:20px" /> </i> محبوب ترین ها</a></li>
                    <li><a href="#"><i><img src="~/Icons/Read.jpg" style="width:20px;height:20px" /> </i> خواندنی‌ها</a></li>

                    @{
                        var usermngr = HttpContext.Current.GetOwinContext().Get<ApplicationUserManager>();
                        var getuser = usermngr.FindById(User.Identity.GetUserId());
                    }

                    @if (User.Identity.IsAuthenticated == true)
                    {
                        if (User.IsInRole("Store"))
                        {
                            <li><h5>@getuser.Email</h5></li>
                            <li><form action="/controlpanel/FirstControlPanelPage" method="post"><button class="btn btn-primary">ورود به پنل فروشگاهی</button></form></li>
                            <li><form action="/account/logout" method="post"><button class="btn btn-danger">خروج</button></form></li>
                        }
                        if (User.IsInRole("Admin"))
                        {
                            <li><h5>@getuser.Email</h5></li>
                            <li><form action="/admin/admincontrolpanel" method="post"><button class="btn btn-primary">ورود به پنل ادمین</button></form></li>
                            <li><form action="/account/logout" method="post"><button class="btn btn-danger">خروج</button></form></li>
                        }

                    }
                    else
                    {


                        <li id="register-button"><a href="/account/register" data-target="#auth" id="registerlink"><i><img src="~/Icons/add.png" style="width:20px;height:20px" /> </i> ثبت کسب و کار شما </a></li>
                        <li id="register-button"><a href="/account/login" data-target="#auth" id="registerlink"><i><img src="~/Icons/Login.jpg" style="width:20px;height:20px" /> </i> ورود </a></li>




                    }



                </ul>




            </div>
        </div>
    </nav>


    <div class="search affix-top" data-spy="affix" data-offset-top="75">
        <div class="container">
            <div class="logo hidden-sm hidden-xs"></div>
            <div class="container-wrapper">

                <form action="/home/SearchByTxt" area="Advertisement" id="search-form" method="get" target="_self">
                    <input name="categoryID" type="hidden">
                    <input name="searchType" value="Default" type="hidden">
                    <div class="row row8px">
                        <div id="cat"></div>
                        <div class="col col-md-8 q">
                            <span style="position: relative; display: inline-block;" class="twitter-typeahead"><input id="txtsearch" style="position: relative; vertical-align: top;" dir="auto" spellcheck="false" autocomplete="off" name="search" class="form-control search-input typeahead tt-input" placeholder="نام و یا فعالیت آگهی ( مانند رستوران )" value="" type="text"><pre style="position: absolute; visibility: hidden; white-space: pre; font-family: IranSans,&quot;B Yekan&quot;,BYekan,tahoma; font-size: 12px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: optimizelegibility; text-transform: none;" aria-hidden="true"></pre><div style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;" class="tt-menu"><div class="tt-dataset tt-dataset-groups"></div><div class="tt-dataset tt-dataset-ads"></div></div></span>
                        </div>

                        <div class="col col-md-2">
                            <button class="btn btn-default btn-block btn-search" id="btnsearch">جستجو</button>
                        </div>
                        <div class="col col-md-2">

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>










    <div class="container main-row">

        <div class="group-sidebar affix-top" data-spy="affix" data-offset-top="75">
            <div class="title">
                <i class="fa fa-chevron-down if"></i> گروه کالا و خدمات
            </div>
            <ul id="menu">
                @using CheshmebazarIrMyProject.Models
                @{
                    DbCheshmeBazarIrMyProjectOkey db = new DbCheshmeBazarIrMyProjectOkey();
                    var ShowCategoryOnPublicSidebar = db.CategoryParents.ToList();
                }
                @foreach (var item in ShowCategoryOnPublicSidebar.ToList())
                {

                    <li style="border-right-color: #9575b3">
                        <a href="/Home/SearchByCategory?id=@(item.Id)">
                            <span class="icon"><i><img src="~/Icons/Category.jpg" style="width:10px;height:10px" /></i></span> @item.Name
                        </a>
                        <ul>
                            @foreach (var item2 in item.CategoryChilds.ToList())
                            {
                                <li>
                                    <a href="/Home/SearchByCategory?id=@(item2.Id)">
                                        <span class="icon"><i><img src="~/Icons/Childcategory.png" style="width:8px;height:8px" /></i></span> @item2.Name
                                    </a>
                                </li>
                            }


                        </ul>
                    </li>
                }



            </ul>
            <div class="app ios">
                <a href="" target="_blank"><i><img src="~/Icons/apple (1).png" style="width:20px;height:20px" /></i> دانلود برنامه iOS</a>
            </div>
            <div class="app android">
                <a href="" target="_blank"><i><img src="~/Icons/android.png" style="width:20px;height:20px" /></i>  دانلود برنامه اندروید</a>


            </div>
        </div>
    </div>

    @if (TempData["msgsuccess"] != null)
    {
        <div style="margin:auto;width:60%;padding-right:15%" id="divshowalerttempdata" class="alert-success">
            @foreach (var item in TempData["msgsuccess"].ToString())
            {
                @item
            }
        </div>
    }
    @if (TempData["msgdanger"] != null)
    {
        <div style="margin:auto;width:60%;padding-right:15%" id="divshowalerttempdata" class="alert-danger">
            @foreach (var item in TempData["msgdanger"].ToString())
            {
                @item
            }
        </div>
    }





    @RenderBody()




    <footer>
        <div class="links">
            <div class="container">
                <div class="container-wrapper">
                    <ul class="navigation clearfix">
                        <li><a href="/home/AboutUs">درباره ما</a></li>
                        <li><a href="/home/ContactCustomerToAdmin">تماس با ما</a></li>
                        <li><a href="/home/pricing">تعرفه تبلیغات</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="info">
            <div class="container">
                <div>
                    <div class="row">
                        <div class="col-md-2" style="padding-bottom: 10px"></div>
                        <div class="col-md-7">
                            <div class="cr">


                                <p>چشم بازار اولین و بزرگترین بانک اطلاعاتی مشاغل در ایران با قدمتی چندین ساله سعی بر این دارد تا تمام کسب و کار های موجود در ایران  محصولات خود را برای مشتریان به نمایش گذاشته و خریداران بدون اتلاف وقت به محصول مورد علاقه خود دسترسی یافته و آنها را خریداری کنند </p>
                                <p>  </p>
                                <p>این سایت صرفاً برای اطلاع‌رسانی کاربران است. لذا هرگونه استفاده‌ی تجاری و تبلیغاتی از محتویات آن ممنوع است و پیگیرد قانونی دارد.</p>
                                <hr />
                                <p>طراح ,  برنامه نویس و توسعه دهنده : نیما چاپی</p>
                                <br />
                                <p>شماره تماس : 09178134699</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="counter">
                                <p style="float: right; margin-left: 3px;">
                                    کاربران آنلاین :
                                </p><div id="OnlineUsers">@HttpContext.Current.Application["onlineusers"]</div>
                                <br />
                                <p>
                                    بازدید کل :
                                    @HttpContext.Current.Application["totalusers"]
                                </p>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </footer>


    <div class="modal fade" id="auth" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active" data-index="1">
                            <a href="#login" aria-controls="login" role="tab" data-toggle="tab"><i class="fa fa-sign-in"></i> ورود</a>
                        </li>

                        <li class="hidden-xs" role="presentation" data-index="3">
                            <a href="#forgot" aria-controls="forgot" role="tab" data-toggle="tab"><i class="fa fa-refresh"></i> بازیابی رمز عبور</a>
                        </li>
                    </ul>
                    <div class="tab-content">

                        <div role="tabpanel" class="tab-pane active" id="login">
                            <div class="row">
                                <div class="col-sm-8 col-sm-push-2">
                                    <div id="reg-alert" class="alert alert-info" style="display:none"></div>
                                    <form novalidate="true" action="/Advertisement/Users/Login?ReturnUrl=%2F" data-toggle="validator" method="post">
                                        <input name="__RequestVerificationToken" value="DVZYxnRvEvCVBxDaVA5X0kexX2r2MToZmWeuAWlhT5_8lTW-X2Et44yKC41THjceczKO6mCdGsTYLQzDfnuCqxdA9c3AkKgjOa89LZWINnU1" type="hidden">                                        <div class="form-group">
                                            <label for="email">ایمیل : <span style="font-family: tahoma; font-weight: bold; color: red">*</span></label>
                                            <input class="form-control" id="email" name="Email" dir="ltr" data-error="ایمیل وارد شده معتبر نمی باشد ." required="" type="email">
                                            <span class="help-block with-errors"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="password">رمز عبور : <span style="font-family: tahoma; font-weight: bold; color: red">*</span></label>
                                            <input class="form-control" id="password" dir="ltr" name="Password" required="" type="password">
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input name="RememberMe" type="checkbox"> اطلاعات ورود ذخیره شود
                                            </label>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-block">ورود</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="register">
                            <div class="row">

                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="forgot">
                            <div class="row">
                                <div class="col-sm-8 col-sm-push-2">
                                    <div id="forgot-alert" class="alert" style="display:none"></div>
                                    <form novalidate="true" action="/Advertisement/Users/ForgotPassword" area="Advertisement" data-toggle="validator" id="recovery" method="post" target="_self">
                                        <div class="form-group">
                                            <label for="forgot-email">ایمیل : <span style="font-family: tahoma; font-weight: bold; color: red">*</span></label>
                                            <input class="form-control" id="forgot-email" name="email" data-error="ایمیل وارد شده معتبر نمی باشد ." dir="ltr" required="" type="email">
                                            <span class="help-block with-errors"></span>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-block" data-loading-text="در حال بارگذاری ...">بازیابی رمز عبور</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" id="modalregister">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="text-center">ثبت نام</h2>
                </div>
                <div class="modal-body">
                    <div class="col-sm-8 col-sm-push-2">
                        <form n action="/Advertisement/Users/RegisterUser" data-toggle="validator" method="post">
                            <input name="__RequestVerificationToken" value="MB2kV8IDVn3wCwf2ek5_Y6kHuPICwF_zgkrBIbmF8gCX4rIwLrgpzQvs3Ge-ISzf7nNPFlbz8wo00usC3C11UUXXWBnk7-JhbaTFvXgZsvE1" type="hidden">                                        <div class="form-group">
                                <label for="Name">نام : <span style="font-family: tahoma; font-weight: bold; color: red">*</span></label>
                                <input class="form-control" id="Name" name="FirstName" required="" type="text">
                            </div>
                            <div class="form-group">
                                <label for="LastName">نام خانوادگی : <span style="font-family: tahoma; font-weight: bold; color: red">*</span></label>
                                <input class="form-control" id="LastName" name="LastName" required="" type="text">
                            </div>
                            <div class="form-group">
                                <label for="signup-mobile">تلفن همراه :</label>
                                <input class="form-control" id="signup-mobile" name="Phone" dir="ltr" pattern="^09[0-9]{9}$" data-error="تلفن همراه وارد شده معتبر نمی باشد ." type="tel">
                                <span class="help-block with-errors"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="Email">ایمیل : <span style="font-family: tahoma; font-weight: bold; color: red">*</span></label>
                                <input class="form-control" id="Email" name="Email" dir="ltr" data-val-remote-additionalfields="*.email" data-error="ایمیل وارد شده معتبر نمی باشد ." data-val-email="ایمیل وارد شده معتبر نمی باشد ." data-val="true" data-val-remote="این آدرس ایمیل قبلا ثبت شده است. لطفاً ایمیل دیگری وارد کنید یا از بازیابی رمز عبور استفاده کنید." data-val-remote-url="/validation/users/DoesEmailExist" data-val-remote-type="POST" required="" type="email">

                                <span class="help-block with-errors field-validation-error" data-valmsg-for="Email" data-valmsg-replace="true">لینک فعال سازی به ایمیل شما ارسال خواهد شد .</span>
                            </div>
                            <div class="form-group">
                                <label for="signup-password">رمز عبور : <span style="font-family: tahoma; font-weight: bold; color: red">*</span></label>
                                <input class="form-control" id="signup-password" name="Password" dir="ltr" data-minlength="6" required="" type="password">
                                <span class="help-block">رمز عبور می بایست حداقل ۶ کاراکتر باشد .</span>
                            </div>
                            <div class="form-group">
                                <label for="signup-repassword">تکرار رمز عبور : <span style="font-family: tahoma; font-weight: bold; color: red">*</span></label>
                                <input class="form-control" id="signup-repassword" name="ConfirmPassword" dir="ltr" data-match="#signup-password" data-error="وارد کردن تکرار رمز عبور الزامی می باشد ." data-match-error="رمز های عبور وارد شده مطابقت ندارند ." required="" type="password">
                                <span class="help-block with-errors"></span>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">ثبت نام</button>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <<button class="btn btn-danger">&times;</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Template/js/bootstrap.js"></script>
    <script src="~/Template/js/metisMenu.js"></script>
    <script src="~/Template/js/bootstrap-select.js"></script>
    <script src="~/Template/js/typeahead.js"></script>
    <script src="~/Template/js/validator.js"></script>
    <script src="~/Template/js/app.js"></script>
    <script src="~/Template/js/jquery_003.js"></script>
    <a href="~/Template/css/hubs" />
    <script>
        $(txtsearch).keyup(function () {
            jQuery.post('/home/search', { name: $(this).val() }, function (data) {
                $(div).html(data)
            })
        })
    </script>

    <script>
        $(function () {
            // Reference the auto-generated proxy for the hub.
            var oneBartarHub = $.connection.OneBartarHub;
            // Create a function that the hub can call back to display messages.
            oneBartarHub.client.updateUsersOnlineCount = function (count) {
                // Add the message to the page.
                $('#OnlineUsers').text(toPersianDigit(count + ''));
            };
            $.connection.hub.start();
        })

        function fixNavMenu() {
            if ($(window).width() >= 990) {
                $("#bs-example-navbar-collapse-1 ul.navbar-nav:first-child").css({
                    'overflow-y': 'initial',
                    'max-height': 'initial'
                });
                return;
            }

            var winHeight = $(window).height();
            var maxHeight = winHeight - 145;
            $("#bs-example-navbar-collapse-1 ul.navbar-nav:first-child").css({
                'overflow-y': 'scroll',
                'max-height': maxHeight + 'px'
            });
        }

        //fixing navigation menu size and overflow in mobile view
        $(function () {
            fixNavMenu();
            $(window).resize(fixNavMenu);
        });
    </script>

    @*<script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-7258576-1', 'urllllll');
            ga('send', 'pageview');

            $('#auth').on("hidden.bs.modal", function () {
                $('#reg-alert').html('').hide();
                $('#forgot-alert').removeClass('alert-warning alert-success').html('').hide();
            });

        </script>*@
    <!--— Start Alexa Certify Javascript —-->
    <script type="text/javascript">
        _atrk_opts = { atrk_acct: "ZjWyl1ak0EY15T", domain: "bartarinha.com", dynamic: true };
        (function () { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(as, s); })();
    </script>
    <noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=ZjWyl1ak0EY15T" style="display:none" height="1" width="1" alt="" /></noscript>
    <!--— End Alexa Certify Javascript —-->
    <!--— Begin Inspectlet Embed Code —-->
    <script type="text/javascript" id="inspectletjs">
        window.__insp = window.__insp || [];
        __insp.push(['wid', 1253656400]);
        (function () {
            function ldinsp() { if (typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
            setTimeout(ldinsp, 500); document.readyState != "complete" ? (window.attachEvent ? window.attachEvent('onload', ldinsp) : window.addEventListener('load', ldinsp, false)) : ldinsp();
        })();
    </script>
    <!--— End Inspectlet Embed Code —-->

    <script>
        $(bd).html(function () {
            $(divshowalerttempdata).show()

            var date = new Date();
            var d=date.setTime(date.getTime() + 1 * 60 * 100);
            var date1 = new Date();
            var d2= date1.getTime()
            if (d==d2) {
                $(divshowalerttempdata).hide()
            }
        })



    </script>
    <script src="~/Template/js/jquery_002.js"></script>
    <script src="~/Template/js/jquery.js"></script>



</body>
</html>